.ds-header {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
    height: 60px;
}
.ds-header1 {
    margin-left: 64px;
    margin-right: 64px;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    height: 60px;
}
.ds-header2{
    width:224px;
    height: 60px;
}

.logo1 {
    background-color:black;
    color: white;
    border-radius: 5px;
    width: 88px;
    height: 60px;
    padding-right: 12px;
}
.social {
    display: inline-block;
}
