.container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 1320px;
    font-family: sans-serif;
}

/* 1.Header */
header {
    height: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    max-width: 1320px;
    top: 0;
    z-index: 999;
    background-color: white;
}

.logo1 {
    background-color: black;
    color: white;
    padding: 4%;
    width: 45px;
    height: 45px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 4px;
    margin: 0px 12px 0px 0px;
    box-sizing: border-box;
    text-align: center;
}

.label {
    font-size: 18px;
    margin-top: 5%;
    letter-spacing: 4px;
}

.logo-header {
    display: flex;
}

.social {
    background-color: #F26464;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 2px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.social:hover{
    background-color: black;
}
/* main */
main {
    padding-top: 205px;
}
/* section1 */
.image {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.image figure {
    margin: 0%;
}

.image div {
    padding-left: 100px;
    padding-right:160px;
}

.image div h1 {
    font-size: 50px;
    font-weight: 550;
}

.image div h1 span {
    display: block;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 20px;
}

.exp-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    padding: 10px;
    margin-top: 60px;
}

.exp-list li {
    display: grid;
    margin-right: 50px;
    font-size: 15px;
    color: #373737;
}

.exp-list strong {
    display: block;
    color: #F26464;
    font-size: 30px;
    font-weight: 800;
}

.exp-list span {
    font-size: 16px;
    letter-spacing: 1px;
}
/* section2 */
.skill-list {
    width: 80%;
}
/* about me */
.content3 {
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 40;
}

.aboutme {
    border-bottom: 3px solid #F26464;
    width: fit-content;
}

.para {
    letter-spacing: 1px;
    font-weight: 100;
    word-spacing: 2px;
}

.dl {
    text-align: center;
}

.download {
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #F26464;
    border-radius: 30px;
    color: #F26464;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.download:hover{
    background-color: #F26464;
    color: white;
}

.h3list {
    border-bottom: 3px solid #F26464;
    width: fit-content;

}

.skill-container {
    display: grid;
    grid-template-columns: auto auto;
    
}
.skill-list {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 11px;
}

.skill-list li {
    display: inline-block;
    border: 1px solid #c7c3c3;
    border-radius: 27px;
    padding: 10px 20px;
    margin: 0px 15px 15px 0px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    color: #373737;
}

.h2 {
    border-bottom: 3px solid #F26464;
    width: fit-content;
    display: inline-block;
}
/* work experience */
.experience-container {
    display: grid;
    grid-template-columns: auto auto;
    
}

.experience {
    width: 80%;
    padding: 15px 0;
}

.classp {
    font-size: 26px;
}

section {
    display: flex;
    background-color: rgb(236, 236, 236);
    padding-top: 40px;
    margin: 40px 0;
}

.contentlw1 {
    padding: 40px 40px;
}

.contentlw1 p {
    font-weight: 100;
    line-height: 40px;
}

.contentlw2 {
    padding: 40px 20px 0;
}
.download1 {
    display: inline-block;
    padding: 5px 25px;
    border: 2px solid #F26464;
    border-radius: 30px;
    color: #F26464;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.download1:hover{
    background-color: #F26464;
    color: white;
}
.dl1 {
    display: flex;
    justify-content: flex-start;
}
.footerr {
    font-family: sans-serif;
    padding: 80px 0;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
}